.modal__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  height: 498px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.modal__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
  width: 100%;
}

.modal__text-container {
  flex-grow: 1;
}

.modal__caption {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.modal__delete {
  color: #ff4d00;
  background: none;
  border: none;
  font-family: 'Cabinet Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

.modal__delete:hover {
  opacity: 0.6;
}
