.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: sans-serif;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: white;
  border-radius: 16px;
  padding: 32px 24px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
}

/* Close button */
.modal__container button[type='button'] {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Title */
.modal__container h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
}

.modal__container .auth-form {
  display: flex;
  flex-direction: column;
}

.modal__container .auth-form__field {
  margin-bottom: 1.5rem;
}

.modal__container .auth-form__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}

.modal__container .auth-form__input {
  width: 94% !important;
  padding: 12px;
  font-size: 14px;
  margin-bottom: 0;
}

.modal__container .auth-form__input:focus {
  border-color: #25272a;
}

.modal__container .auth-form__submit {
  width: 86px !important;
  padding: 12px;
  background-color: #0000004d !important;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal__container .auth-form__submit:hover {
  background-color: #242527 !important;
}

.modal__container .auth-form__link {
  display: block;
  text-align: center;
  margin-top: 16px;
  color: #555;
  font-size: 14px;
  text-decoration: none;
}

.modal__container .auth-form__link:hover {
  text-decoration: none;
  color: #c9e1fc;
}
.modal__container .auth-form__footer {
  text-align: center;
  margin-top: 16px;
  color: #555;
  font-size: 14px;
}

.modal__container .auth-form__footer-link {
  background: none;
  border: none;
  color: #00000080;
  width: 120px;
  bottom: 190px;
  left: 140px;
  text-decoration: none;
  cursor: pointer;

  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;

  line-height: 20px;
  letter-spacing: 0%;
}
.modal__container .auth-form__submit.auth-form__submit--active {
  background-color: black !important;
}

.modal__container .auth-form__footer-link:hover {
  color: #3f3f3f;
}
